<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.yanisimov.prepopulatedb"
    version="0.0.1">

	<name>prepopulatedb</name>

	<engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

	<js-module src="www/PrePopulateDb.js" name="PrePopulateDb">
		<clobbers target="PrePopulateDb" />
	</js-module>

	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="PrePopulateDb" >
				<param name="android-package" value="PrePopulateDb"/>
			</feature>
		</config-file>
		<source-file src="src/android/PrePopulateDb.java" />
	</platform>
	<platform name="wp8">
        <config-file target="config.xml" parent="/*">
           	<feature name="PrePopulateDb" >
				<param name="wp-package" value="PrePopulateDb"/>
			</feature>
        </config-file>
        <source-file src="src/wp8/PrePopulateDb.cs"/>
    </platform>
</plugin>
